<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
	"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<!-- namespace：当前XML文件用于配置哪个接口中抽象方法对应的SQL语句 -->
<mapper namespace="com.wuhanyunzhong.itass.mapper.DggMapper">
	<!--	测试-->
	<insert id="addUser" parameterType="Map">
		insert into user(uname,password)
		values (#{uname},#{password});
	</insert>

	<!--	查询当前游戏-->
	<select id="setest" resultType="Map">
		SELECT id,pid
		FROM department
		WHERE id=1
	</select>

<!--增加事业部信息-->
	<insert id="insertDepart" parameterType="java.util.List">
		INSERT INTO department(pid ,pname)
		VALUES
		<foreach collection="list"
				 item="item" separator=",">
			(#{item.pid},#{item.name})
		</foreach>
	</insert>

	<!--增加接通量信息-->
	<insert id="insertJtl" parameterType="java.util.List">
		INSERT INTO dianhualiang(fname,sname,phoneTime,phoneAmount,phoneDone,
		amount30,amount60,time10,time11,time12,time15,time16,time17,time18,time20,
		changeDate)
		VALUES
		<foreach collection="list"
				 item="item" separator=",">
			(#{item.fname},#{item.sname},#{item.phoneTime},#{item.phoneAmount},#{item.phoneDone},
			#{item.amount30},#{item.amount60},#{item.time10},#{item.time11},#{item.time12},#{item.time15},#{item.time16},#{item.time17},
			#{item.time18},#{item.time20},now())
		</foreach>
	</insert>

	<!--增加接通量信息-->
	<insert id="addFirst" parameterType="java.util.List">
		INSERT INTO dianhualiang(fname,sname,changeDate)
		VALUES
		<foreach collection="list"
				 item="item" separator=",">
			(#{item.fname},#{item.sname},now())
		</foreach>
	</insert>

<!--	更新数据-->
	<update id="upData" parameterType="java.util.List">
		update dianhualiang
		SET phoneTime =
		<foreach collection="list" item="item" index="index"
				 separator=" " open="case" close="end">
			when fname = #{item.fname} and sname = #{item.sname} then #{item.phoneTime}
		</foreach>
		,phoneAmount =
		<foreach collection="list" item="item" index="index"
				 separator=" " open="case"  close="end">
			when fname = #{item.fname} and sname = #{item.sname} then #{item.phoneAmount}
		</foreach>
		,phoneDone =
		<foreach collection="list" item="item" index="index"
				 separator=" " open="case"  close="end">
			when fname = #{item.fname} and sname = #{item.sname} then #{item.phoneDone}
		</foreach>
		,amount30 =
		<foreach collection="list" item="item" index="index"
				 separator=" " open="case"  close="end">
			when fname = #{item.fname} and sname = #{item.sname} then #{item.amount30}
		</foreach>
		,amount60 =
		<foreach collection="list" item="item" index="index"
				 separator=" " open="case"  close="end">
			when fname = #{item.fname} and sname = #{item.sname} then #{item.amount60}
		</foreach>
		,isFlag =
		<foreach collection="list" item="item" index="index"
				 separator=" " open="case"  close="end">
			when fname = #{item.fname} and sname = #{item.sname} then 1
		</foreach>

		,time10 =
		<foreach collection="list" item="item" index="index"
				 separator=" " open="case"  close="end">
			when fname = #{item.fname} and sname = #{item.sname} and  #{item.upType} = 10 then #{item.time10}
			when #{item.upType} != 10 then time10
		</foreach>

		,time11 =
		<foreach collection="list" item="item" index="index"
				 separator=" " open="case"  close="end">
			when fname = #{item.fname} and sname = #{item.sname} and  #{item.upType} = 11 then #{item.time11}
			when #{item.upType} != 11 then time11
		</foreach>

		,time12 =
		<foreach collection="list" item="item" index="index"
				 separator=" " open="case"  close="end">
			when fname = #{item.fname} and sname = #{item.sname} and  #{item.upType} = 12 then #{item.time12}
			when #{item.upType} != 12 then time12
		</foreach>

		,time15 =
		<foreach collection="list" item="item" index="index"
				 separator=" " open="case"  close="end">
			when fname = #{item.fname} and sname = #{item.sname} and  #{item.upType} = 15 then #{item.time15}
			when #{item.upType} != 15 then time15
		</foreach>

		,time16 =
		<foreach collection="list" item="item" index="index"
				 separator=" " open="case"  close="end">
			when fname = #{item.fname} and sname = #{item.sname} and  #{item.upType} = 16 then #{item.time16}
			when #{item.upType} != 16 then time16
		</foreach>

		,time17 =
		<foreach collection="list" item="item" index="index"
				 separator=" " open="case"  close="end">
			when fname = #{item.fname} and sname = #{item.sname} and  #{item.upType} = 17 then #{item.time17}
			when #{item.upType} != 17 then time17
		</foreach>

		,time18 =
		<foreach collection="list" item="item" index="index"
				 separator=" " open="case"  close="end">
			when fname = #{item.fname} and sname = #{item.sname} and  #{item.upType} = 18 then #{item.time18}
			when #{item.upType} != 18 then time18
		</foreach>

		,time20 =
		<foreach collection="list" item="item" index="index"
				 separator=" " open="case"  close="end">
			when fname = #{item.fname} and sname = #{item.sname} and  #{item.upType} = 20 then #{item.time20}
			when #{item.upType} != 20 then time20
		</foreach>
		where date(changeDate) = date(now()) ;

	</update>

<!--	通过用户名查询登录信息-->
	<select id="findByname" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		select uname as name ,isAd,password,avatar ,pid,pname,roles
		from user
		where uname = #{name}
	</select>

<!--	添加token-->
	<update id="upToken" parameterType="java.util.HashMap">
		update user
		set token = #{token}
		where uname = #{name}
	</update>

<!--	查询一级部门信息-->
	<select id="findAllde" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT id,pid,pname
		FROM department
	</select>

<!--	通过一级部门查询所有数据-->
	<select id="findData" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT dhl.fname,dhl.sname,dhl.phoneTime,dhl.phoneAmount,dhl.phoneDone,dhl.amount30,dhl.amount60,dm.costFix
		<if test="h &gt; 8">
			, IFNULL(dhl.time10,0)  as time10
		</if>
		<if test="h &gt; 9">
			, (dhl.time11 - IFNULL(dhl.time10 , 0)) as time11
		</if>
		<if test="h &gt; 10">
			, (dhl.time12 -IFNULL(dhl.time11,0) ) as time12
		</if>
		<if test="h &gt; 11">
			, (dhl.time15 - IFNULL(dhl.time12,0) ) as time15
		</if>
		<if test="h &gt; 14">
			, (dhl.time16 - IFNULL(dhl.time15,0) ) as time16
		</if>
		<if test="h &gt; 15">
			, (dhl.time17 - IFNULL(dhl.time16,0) ) as time17
		</if>
		<if test="h &gt; 16">
			, (dhl.time18 - IFNULL(dhl.time17,0) ) as time18
		</if>
		<if test="h &gt; 17">
			, (dhl.time20 - IFNULL(dhl.time18,0) ) as time20
		</if>

		FROM dianhualiang as dhl
		left join department as dm on dhl.sname = dm.pname
		WHERE date(dhl.changeDate) = #{viewDate} AND dhl.isFlag = 1 AND dhl.fname = #{pname}
		order by dhl.sname
	</select>


<!--	查询费用月租-->
	<select id="findCost" parameterType="Map" resultType="Map">
		select costFix,isCost
		from department
		where id = #{pid}
	</select>

<!--	查询接通量-->
	<select id="findPeakData" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT fname, sum(phoneTime) as phoneTime,sum(phoneAmount) as totalJtl,sum(phoneDone) as jietongliang,
				sum(amount30) as amount30, sum(amount60) as amount60
		<if test="h &gt; 8">
			, IFNULL(sum(time10),0) as "10:00"
		</if>
		<if test="h &gt; 9">
			, (sum(time11)-IFNULL(sum(time10),0)) as "11:00"
		</if>
		<if test="h &gt; 10">
			, (sum(time12)-IFNULL(sum(time11),0)) as "12:00"
		</if>
		<if test="h &gt; 11">
			, (sum(time15)-IFNULL(sum(time12),0)) as "15:00"
		</if>
		<if test="h &gt; 14">
			,(sum(time16)-IFNULL(sum(time15),0)) as "16:00"
		</if>
		<if test="h &gt; 15">
			, (sum(time17)-IFNULL(sum(time16),0)) as "17:00"
		</if>
		<if test="h &gt; 16">
			, (sum(time18)-IFNULL(sum(time17),0)) as "18:00"
		</if>
		<if test="h &gt; 17">
			, (sum(time20)-IFNULL(sum(time18),0)) as "20:00"
		</if>

		FROM dianhualiang
		WHERE date(changeDate) = #{viewDate} AND isFlag = 1 AND fname = #{pname};
	</select>


<!--	查询日均数据-->
	<select id="findAvg" resultType="Map" parameterType="Map">
		SELECT AVG(phoneTime) AS ptavg,
		AVG(pdavg) AS pdavg,
		AVG(paavg) AS paavg,
		AVG(jtl) AS jtl,
		AVG(amount30) AS amount30,
		AVG(amount60) AS amount60,
		AVG(costAmount) AS costAvg
		FROM (
			SELECT SUM(dhl.phoneTime) AS phoneTime,
				SUM(dhl.phoneDone) AS pdavg,
				SUM(dhl.phoneAmount) AS paavg,
				SUM(dhl.phoneDone)/SUM(dhl.phoneAmount) AS jtl,
				SUM(dhl.amount30) AS amount30,
				SUM(dhl.amount60) AS amount60,
				SUM(dm.costFix*((dhl.phoneDone-dhl.amount60) + dhl.amount60*4) ) AS costAmount
		FROM dianhualiang as dhl
		left join department as dm on dhl.sname=dm.pname
		WHERE DATE_FORMAT( dhl.changeDate , '%Y%m' ) = DATE_FORMAT( CURDATE() , '%Y%m' )
		AND fname = #{pname}
		GROUP BY DATE(dhl.changeDate)
		) t
	</select>

<!--	查询环比接通率数据-->
	<select id="findDayCompareJtlv" resultType="Map" parameterType="Map">
		SELECT 	dhl.fname,
				SUM(dhl.phoneDone) AS phoneDone,
				SUM(dhl.phoneDone)/SUM(phoneAmount) AS jtl,
				SUM(dhl.amount30) AS amount30,
				SUM(dhl.amount60) AS amount60,
				DATE(dhl.changeDate) as changeDate
		FROM dianhualiang as dhl
		left join department as dm on dhl.sname=dm.pname
		WHERE fname = #{pname}
		GROUP BY DATE(dhl.changeDate)
		LIMIT 0, #{limit}
	</select>

<!--	查询环比详情数据-->
	<select id="findDayCompareInfo" resultType="Map" parameterType="Map">
		SELECT dhl.fname as fname,
				dhl.sname as sname,
				dhl.phoneTime AS phoneTime,
				dhl.phoneDone AS pdavg,
				dhl.phoneAmount AS paavg,
				(dhl.phoneDone)/(phoneAmount) AS jtl,
				dhl.amount30 AS amount30,
				dhl.amount60 AS amount60,
				dm.costFix*((dhl.phoneDone-dhl.amount60) + dhl.amount60*4)  AS costAmount
				,DATE(dhl.changeDate) as changeDate
		FROM dianhualiang as dhl
		left join department as dm on dhl.sname=dm.pname
		WHERE fname = #{pname}
		AND   DATE_SUB(CURDATE(), INTERVAL (#{limit}-1)  DAY) <![CDATA[ <= ]]> date(dhl.changeDate)
		order BY dhl.changeDate

	</select>


	<select id="findWeekCompareJtlv" resultType="Map" parameterType="Map">
		SELECT 	dhl.fname,
				  SUM(dhl.phoneDone) AS phoneDone,
				  SUM(dhl.phoneDone)/SUM(phoneAmount) AS jtl,
				  SUM(dhl.amount30) AS amount30,
				  SUM(dhl.amount60) AS amount60,
				  DATE_FORMAT(dhl.changeDate,'%Y%u') AS  weeks
		FROM dianhualiang as dhl
				 left join department as dm on dhl.sname=dm.pname
		WHERE fname = #{pname}
		GROUP BY weeks
		LIMIT 0, #{limit}
	</select>


	<!--	查询周环比详情数据-->
	<select id="findWeekCompareInfo" resultType="Map" parameterType="Map">
		SELECT dhl.fname as fname,
		dhl.sname as sname,
		SUM(dhl.phoneTime) AS phoneTime,
		SUM(dhl.phoneDone) AS pdavg,
		SUM(dhl.phoneAmount) AS paavg,
		SUM(dhl.phoneDone) / SUM(phoneAmount) AS jtl,
		SUM(dhl.amount30) AS amount30,
		SUM(dhl.amount60) AS amount60,
		dm.costFix*( SUM(dhl.phoneDone)+ 3 *  SUM(dhl.amount60) )  AS costAmount,
		DATE_FORMAT(dhl.changeDate,'%Y%u') AS  weeks
		FROM dianhualiang as dhl
		left join department as dm on dhl.sname=dm.pname
		WHERE fname = #{pname}
		AND   DATE_SUB(CURDATE(), INTERVAL  (#{limit}-1)  DAY) <![CDATA[ <= ]]> date(dhl.changeDate)
		GROUP BY sname , weeks



	</select>



<!--	查询分公司之间比较-->
	<select id="findPartCompareInfo" resultType="Map" parameterType="Map">
		SELECT fname ,
		SUM(phoneDone)/SUM(phoneAmount) AS jtl,
		date(changeDate) AS changeDate
		 FROM dianhualiang
		 WHERE  DATE_SUB(CURDATE(), INTERVAL  (#{limit}-1)  DAY) <![CDATA[ <= ]]> date(changeDate)
		GROUP by fname,date(changeDate)

	</select>


	<!--	查询分公司之间比较-->
	<select id="findPartCompareInfo02" resultType="Map" parameterType="Map">
		SELECT fname ,SUM(phoneTime) AS phoneTime,
		SUM(phoneAmount) AS phoneAmount,
		SUM(phoneDone) AS phoneDone,
		SUM(phoneDone)/SUM(phoneAmount) AS jtl,
		sum(amount30) as amount30,
		sum(amount60) as amount60,
		date(changeDate) AS changeDate
		 FROM dianhualiang
		 WHERE  DATE_SUB(CURDATE(), INTERVAL  (#{limit}-1)  DAY) <![CDATA[ <= ]]> date(changeDate)
		GROUP by fname,date(changeDate)

	</select>

</mapper>






